<%- include('parts/header' ,{pageTitle:pageTitle}) %>
<%- include('parts/navbar', { isUser: isUser ,isAdmin:isAdmin }) %>

<div class="container text-center">
    <h3>Verify Order</h3>
    <% if(error) { %>
    <p class="alert alert-danger">
    <%= error.msg %>
    </p>
    <%}%>
    <form action="/orders" method="POST">
        <input type="hidden" name="cartId" value="<%= cart._id%>">
        <input type="hidden" name="name" value="<%= cart.name%>">
        <input type="hidden" name="price" value="<%= cart.price%>">
        <input type="hidden" name="amount" value="<%= cart.amount%>">
        <input type="hidden" name="productId" value="<%= cart.productId%>">
        <input type="hidden" name="userId" value="<%= cart.userId%>">
        <input type="text" name="address" placeholder="Enter the Address" class="form-control">
        <input type="submit" value="Verify" class="btn btn-primary" >
    </form>

</div>

<%- include('parts/footer')%>